

.about {
    width: 100vw;
    margin: 10vh 0;
}

.about-header {
    font-size: var(--mobile-header-size);
}

.about-content {
    flex-wrap: wrap;
}
.about-text {
    font-size: 1.5rem;
    line-height: 1.2em;
    padding: 1rem;
}

.about .my-image {
    height: 20vh;
    width: max-content;
}

.projects-header:not(span) {
    font-size: var(--mobile-header-size);
}

.project-container {
    width: 90%;
    min-height: 100vh;
}

.project-image-container {
    filter: unset;
    height: 40%;
}

#contact  {
    margin-top: 50px;
    width: 90vw;
    height: 100vh;
    margin: 5%;
}
#contact form label {
    font-size: 1.5rem;
}
#contact form input {
    margin: 0.5rem;
}

#contact form {
    margin: 5%;
}

