.projects h1 {
    font-size: var(--header-size);
    opacity: 0.6;
}

.tilted {
    display: inline-block;
    animation: tilt 6s infinite;
}

.delayed { animation-delay: 1s; }

.projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.project-container  {
    box-shadow: none;
    height: 90vh;
    border-radius: 13px;
    width: 45%;
    margin: 3rem 1.5rem;
    opacity: 0.8;
}

.project-header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    position: relative;
}

.project-header::before,
.project-header::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #000;
    bottom: 0;
    opacity: 0.5;
}

.project-header::before { left: 0; }

.project-header::after { right: 0; }

.project-image-container  {
    width: 100%;
    margin: 0;
    height: 60%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    filter: blur(4px) grayscale(1);
}

.image-1 { background: url('./../assets/images/project-1.png') no-repeat center center/cover; }
.image-2 { background: url('./../assets/images/project-2.png') no-repeat center center/cover; }
.image-3 { background: url('./../assets/images/project-3.png') no-repeat center center/cover; background-position-x: 60%; }
.image-4 { background: url('./../assets/images/project-4.png') no-repeat center center/cover; }
.image-5 { background: url('./../assets/images/project-5.png') no-repeat center center/cover; }
.image-6 { background: url('./../assets/images/project-6.png') no-repeat center center/cover; }
.image-7 { background: url('./../assets/images/project-7.png') no-repeat center center/cover; }
.image-8 { background: url('./../assets/images/project-8.png') no-repeat center center/cover; }
.image-9 { background: url('./../assets/images/project-9.png') no-repeat center center/cover; }
.image-10 { background: url('./../assets/images/project-10.png') no-repeat center center/cover; }
.image-11 { background: url('./../assets/images/project-11.png') no-repeat center center/cover; }
.image-12 { background: url('./../assets/images/project-12.png') no-repeat center center/cover; }
.image-13 { background: url('./../assets/images/project-13.jpg') no-repeat center center/cover; }

.project-container:hover { opacity: 1; }

.project-container:hover .project-header::before,
.project-container:hover .project-header::after {
    height: 30px;
    box-shadow: 5px 26px 19px 4px rgba(0, 0, 0, 0.6);
}

.project-container:hover .project-image-container {
    box-shadow: 5px 26px 19px 4px rgba(0, 0, 0, 0.6);
    filter: blur(0) grayscale(0);
}

.project-container:hover .project-header { color: var(--text-color); }

.project-container:hover .description, 
.project-container:hover .tech-list { opacity: 1; }

.description {
    opacity: 0;
    margin-top: 20px;
    font-size: 1.5rem;
}

a.description {
  color: var(--text-color);
  text-decoration: underline;
  display: block;
  text-align: left;
  margin-top: 10px;
}

.tech-list {
    opacity: 0;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.tech-item { margin: 0 5px; }

.project-link {
  display: block;
  color: var(--text-color);
}

@keyframes tilt {
    0% {transform: rotate(0);}
    10%,30% {transform: rotate(6deg);}
    20%,40% {transform: rotate(-6deg);}
    45% {transform: rotate(0);} 
}

