
:root {
    --primary-text: #fefae0;
    --light-text: rgb(254, 250, 224);
    --text-color: #F9C784;
    --secondary-color: #001d3d; /* mountain video */
    --header-size : 3rem;
    --mobile-header-size: 1.5rem;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    transition: .2s;
}

*:hover {transition: .2s;}
*:focus {transition: .2s;}
html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    scroll-snap-type: y mandatory;
    min-height: 100%;

}



footer {
    margin-bottom: 20px;
    text-align: center;
    z-index: -1;
}


